# Coronavirus Dataset

Source:

https://www.data.gouv.fr/en/datasets/coronavirus-covid19-evolution-par-pays-et-dans-le-monde-maj-quotidienne/

In [3]:
%matplotlib inline

In [4]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt

In [5]:
corona= pd.read_csv("coronavirus.csv",sep=";")

In [6]:
corona

,Date,Pays,Infections,Deces,Guerisons,TauxDeces,TauxGuerison,TauxInfection
0,04/09/2020,Andorre,1199,53,909,4.42,75.81,19.77
1,04/09/2020,Émirats Arabes Unis,72766,387,63158,0.53,86.80,12.67
2,04/09/2020,Afghanistan,38304,1409,29713,3.68,77.57,18.75
3,04/09/2020,Antigua-et-Barbuda,95,3,91,3.16,95.79,1.05
4,04/09/2020,Albanie,9967,306,5882,3.07,59.01,37.92
...,...,...,...,...,...,...,...,...
36937,22/01/2020,Corée du Sud,1,0,0,0.00,0.00,100.00
36938,22/01/2020,Macao,1,0,0,0.00,0.00,100.00
36939,22/01/2020,Thaïlande,2,0,0,0.00,0.00,100.00
36940,22/01/2020,Taïwan,1,0,0,0.00,0.00,100.00
36941,22/01/2020,États-Unis,1,0,0,0.00,0.00,100.00

In [7]:
corona.describe()

,Infections,Deces,Guerisons,TauxDeces,TauxGuerison,TauxInfection
count,3.694200e+04,36942.000000,3.694200e+04,36942.000000,36942.000000,36942.000000
mean,4.530480e+04,1981.652591,2.512766e+04,3.015262,49.055918,47.801620
std,2.718907e+05,10325.563637,1.459008e+05,4.219623,33.765318,33.776673
min,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,-10.400000
25%,1.060000e+02,1.000000,2.200000e+01,0.380000,16.580000,15.490000
50%,1.177500e+03,22.000000,4.600000e+02,1.840000,50.240000,46.030000
75%,1.058100e+04,235.000000,4.726750e+03,4.090000,80.890000,80.000000
max,6.166939e+06,186984.000000,3.429435e+06,100.000000,108.510000,100.000000

In [8]:
corona.groupby("Pays").Infections.sum().sort_values()[-20:]

Pays
Chine               17278370
Bangladesh          19528378
Pakistan            23955021
Arabie Saoudite     23960981
Colombie            24835280
Turquie             27660789
Allemagne           29912597
Chili               31164489
France              31860599
Iran                32682089
Afrique du Sud      33552451
Mexique             35146439
Italie              36740254
Royaume-Uni         39870826
Pérou               39892443
Espagne             41755028
Russie              81255415
Inde               145465643
Brésil             218735676
États-Unis         432765498
Name: Infections, dtype: int64

In [9]:
corona.sort_values(by='Deces')[-20:]

,Date,Pays,Infections,Deces,Guerisons,TauxDeces,TauxGuerison,TauxInfection
3813,16/08/2020,États-Unis,5403213,170052,1833067,3.15,33.93,62.93
3786,17/08/2020,États-Unis,5438325,170497,1865580,3.14,34.30,62.56
3413,18/08/2020,États-Unis,5483388,171821,1898159,3.13,34.62,62.25
3386,19/08/2020,États-Unis,5529824,173177,1925049,3.13,34.81,62.06
3013,20/08/2020,États-Unis,5573847,174255,1947035,3.13,34.93,61.94
2986,21/08/2020,États-Unis,5622540,175370,1965056,3.12,34.95,61.93
2613,22/08/2020,États-Unis,5667112,176353,1985484,3.11,35.04,61.85
2586,23/08/2020,États-Unis,5701679,176802,1997761,3.10,35.04,61.86
2213,24/08/2020,États-Unis,5739724,177252,2020774,3.09,35.21,61.71
2186,25/08/2020,États-Unis,5777710,178486,2053699,3.09,35.55,61.37
1813,26/08/2020,États-Unis,5821819,179708,2084465,3.09,35.80,61.11
1786,27/08/2020,États-Unis,5867785,180824,2101326,3.08,35.81,61.11
1413,28/08/2020,États-Unis,5913941,181800,2118367,3.07,35.82,61.11
1386,29/08/2020,États-Unis,5961094,182761,2140614,3.07,35.91,61.02
1013,30/08/2020,États-Unis,5996431,183066,2153939,3.05,35.92,61.03
986,31/08/2020,États-Unis,6030587,183597,2184825,3.04,36.23,60.73
613,01/09/2020,États-Unis,6073840,184664,2202663,3.04,36.26,60.69
586,02/09/2020,États-Unis,6113510,185720,2231757,3.04,36.51,60.46
213,03/09/2020,États-Unis,6150016,186790,2266957,3.04,36.86,60.10
186,04/09/2020,États-Unis,6166939,186984,2266957,3.03,36.76,60.21

In [10]:
corona.groupby("Pays").TauxDeces.mean().sort_values()[-20:]

Pays
Antigua-et-Barbuda     6.725511
Saint-Marin            6.741257
Sahara Occidental      6.862549
Belize                 6.918916
Libéria                6.996879
Gambie                 7.131105
Espagne                8.075714
Bahamas                8.156358
Mexique                8.601414
Philippines            9.147545
Nicaragua              9.631118
Guyana                 9.712260
Pays-Bas               9.887435
France                10.363156
Royaume-Uni           10.497615
Hongrie               10.549027
Belgique              10.844907
Italie                11.195550
Soudan                12.481364
Yémen                 21.760541
Name: TauxDeces, dtype: float64

In [29]:
corona.groupby("Pays").TauxGuerison.mean().sort_values()[20:]

Pays
Haïti                  24.792722
Congo (Brazzaville)    24.881494
Belgique               25.324252
Philippines            25.445273
Zimbabwe               25.715799
                         ...
Îles Féroé             78.707730
Dominique              80.611677
Brunéi Darussalam      81.741889
Nouvelle-Calédonie     82.508144
Gibraltar              82.786432
Name: TauxGuerison, Length: 188, dtype: float64